body {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(139,180,255,1) 0%, rgba(0,0,0,1) 90%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dcdcdc;
    font-weight: bold;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,1);
    min-width: 100%;
    height: 70px;
    margin: 0 0 20px;
}

.currency-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-left: 50px;
}

.mini-container {
    margin: 0 15px;
}

input, select {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0;
    background: #dcdcdc;
    border: none;
    font-size: 15px;
}

select {
    text-align: center;
}

svg {
    color: #dcdcdc;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(139,180,255,1);
    border: none;
}

#currency-type{
    max-width: 40vw;
}